/* General styles */
.App {
  text-align: center;
}

.App-header {
  padding: 20px;
}

body {
  background-color: #001f3f; /* Luxury blue background color */
  color: #ffffff; /* White text color for contrast */
}
/* Header section */
.Head h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.Head h2 {
  font-size: 1.5rem;
  margin: 5px 0;
}

/* Authors section */
.Authors {
  margin-top: 20px;
}

.Authors h3,
.Authors h4 {
  margin: 5px 0;
  font-size: 1rem;
}

/* Links section */
.RelevantLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping on small screens */
  margin-top: 20px;
  gap: 20px;
}

figure {
  text-align: center;
}

figure img {
  width: 30px;
  height: 30px;
}

figcaption {
  font-size: 0.9rem;
  margin-top: 5px;
}

/* Responsive Typography and Layout */
@media (max-width: 768px) {
  .Head h1 {
    font-size: 2rem;
  }

  .Head h2 {
    font-size: 1.2rem;
  }

  .Authors h3,
  .Authors h4 {
    font-size: 0.9rem;
  }

  figure img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 480px) {
  .Head h1 {
    font-size: 1.5rem;
  }

  .Head h2 {
    font-size: 1rem;
  }

  .Authors h3,
  .Authors h4 {
    font-size: 0.8rem;
  }

  figure img {
    width: 20px;
    height: 20px;
  }
}
